* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans Caption", sans-serif;
}
body{
  background: #F7ECDE;
}
h1{
  font-family: "Pacifico", cursive;
  position: relative;
  display: inline-block;
  font-size:50px ;
  margin: 0;
  padding: 0;
}
.hoverh1::after{
  content: "";
  height: 40%;
  width:  100%;
  background: #f8a3059d;
  position: absolute;
  z-index: -1;
  left: 0;
  bottom:0;
  transition: all 0.3s;
}
.hoverh1:hover::after{
  height: 67% !important;
}
h2{
  font-family: "Righteous", sans-serif;
 font-size: 25px;
    background-image: linear-gradient(to right, #3ca55c, #b5ac49);
        -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
.righteous-regular {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.home {
  border-block: 2px black dotted;
}
